# Copy this file to .env and update with your values

# Port number for the HTTPS server
PORT=8080

# Node Environment
NODE_ENV=development

# SSL/TLS Certificate Path
CERTPATH=certs

# Server and Client Directories
SERVER_DIR=.
CLIENT_DIR=./public

# Logging Configuration
LOG_DIR=./logs

# Session Configuration
SESSION_SECRET=change-me-to-a-random-secret
